certifi==2025.7.14
lxml==6.0.2
matplotlib==3.10.8
myvariant==1.0.0
neo4j==5.28.1
networkx==3.6.1
numpy==2.4.2
openpyxl==3.1.5
psycopg2_binary==2.9.10
PyLD==2.0.4
pypandoc==1.16.2
rdflib==7.5.0
rdfpandas==1.1.7
regex==2024.11.6
Requests==2.32.5
scibite_toolkit==1.0.0
scipy==1.17.0
setuptools==80.9.0
textblob==0.19.0
titlecase==2.4.1
torch==2.7.1
torch_geometric==2.7.0
urllib3==2.6.3
xlsxwriter==3.2.5
zeep==4.3.1
